<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.anderson.calculadoracombustivel">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CalculadoraActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.android.anderson.widgets.SearchViewActivity"
            android:label="@string/title_activity_search_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.android.anderson.widgets.RatingbarActivity"
            android:label="@string/title_activity_ratingbar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.android.anderson.widgets.ProgressbarViewActivity"
            android:label="@string/title_activity_progressbar_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SegundaActivity"
            android:label="@string/title_activity_segunda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.android.anderson.widgets.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.android.anderson.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.anderson.widgets.WebViewActivity" />
        <activity android:name="com.android.anderson.widgets.DatepickerActivity" />
        <activity android:name="com.android.anderson.widgets.ImageViewActivity" />
        <activity android:name="com.android.anderson.Native.LigacaoActivity" />
        <activity android:name="com.android.anderson.Native.CameraActivity" />
        <activity android:name="com.android.anderson.Native.ShareActivity" />
        <activity android:name="com.android.anderson.Native.MainContatoActivity"></activity>
    </application>

</manifest>